<div class="dashboard-container">
  <div class="dashboard-title">Dashboard</div>
  <div class="dashboard-grid">
    <div class="stats-section">
      <app-widgets title="Pending Reimbursement" value="75"></app-widgets>
      <app-widgets title="Approved Reimbursement" value="478"></app-widgets>
      <app-widgets title="Advances Request" value="62"></app-widgets>
    </div>

    <div class="details-section">
      <div class="spenders-section">
        <app-top-spenders></app-top-spenders>
      </div>
      <div class="footer-section">
        <app-summary></app-summary>
        <app-contact></app-contact>
      </div>
    </div>
  </div>
</div>
